<!DOCTYPE html>
<html>

<head>
    <title>Crear Piscina</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Crear Piscina</h1>
        <form th:action="@{/crearpiscina/save}" th:object="${piscina}" method="post">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="number" class="form-control" id="id" th:field="*{id}" placeholder="ID">
            </div>
            <div class="form-group">
                <label for="capacidad">Capacidad</label>
                <input type="text" class="form-control" id="capacidad" th:field="*{capacidad}" placeholder="Capacidad">
            </div>
            <div class="form-group">
                <label for="profundidad">Profundidad</label>
                <input type="text" class="form-control" id="profundidad" th:field="*{profundidad}" placeholder="Profundidad">
            </div>
            <div class="form-group">
                <label for="horario">Horario</label>
                <input type="date" class="form-control" id="horario" th:field="*{horario}" placeholder="Horario">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>

</html>
