<!DOCTYPE html>
<html>

<head>
    <title>Lista Reservas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Reservas</h1>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>idfuncion</th>
                    <th>idcliente</th>
                    <th>fecha</th>
                    <th>estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="reserva : ${reservas}">
                    <tr>
                        <td th:text="${reserva.idreserva}"></td>
                        <td th:text="${reserva.idfuncion}"></td>
                        <td th:text="${reserva.idcliente}"></td>
                        <td th:text="${reserva.fecha}"></td>
                        <td th:text="${reserva.estado}"></td>
                        <td>
                            <a th:href="@{'/editarReserva/' + ${reserva.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarReserva/' + ${reserva.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            </br>
        </div>
        <br />
</body>

</html>
