<!DOCTYPE html>
<html>

<head>
    <title>Lista de Tipos de Habitaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Tipos de Habitaciones</h1>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Dotación</th>
                    <th>ID Habitación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="tipoHabitacion : ${tiposhabitaciones}">
                    <tr>
                        <td th:text="${tipoHabitacion.id}"></td>
                        <td th:text="${tipoHabitacion.nombre}"></td>
                        <td th:text="${tipoHabitacion.capacidad}"></td>
                        <td th:text="${tipoHabitacion.dotacion}"></td>
                        <td th:text="${tipoHabitacion.habitacion != null ? tipoHabitacion.habitacion.id : 'N/A'}"></td>
                        <td>
                            <a th:href="@{'/editartipohabitacion/' + ${tipoHabitacion.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminartipohabitacion/' + ${tipoHabitacion.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            <a th:href="@{/creartipohabitacion}" class="btn btn-success">Crear Tipo de Habitación</a>
            </br>
        </div>
        <br />
</body>

</html>
